<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated service -->
      <package
            uri="org.openecomp.dcae.controller.service.docker"
            class="org.openecomp.dcae.controller.service.docker.DockerPackage"
            genModel="src/main/xcore/service.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated manager -->
      <package
            uri="org.openecomp.dcae.controller.service.dockermanager"
            class="org.openecomp.dcae.controller.service.dockermanager.DockermanagerPackage"
            genModel="src/main/xcore/manager.xcore"/>
   </extension>

</plugin>
