<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated service -->
      <package
            uri="org.openecomp.dcae.controller.service.common.vm.service"
            class="org.openecomp.dcae.controller.service.common.vm.service.ServicePackage"
            genModel="src/main/xcore/service.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated manager -->
      <package
            uri="org.openecomp.dcae.controller.service.common.vm.manager"
            class="org.openecomp.dcae.controller.service.common.vm.manager.ManagerPackage"
            genModel="src/main/xcore/manager.xcore"/>
   </extension>

</plugin>
